DUMMY_DEVICE_ID=dev_c0613c0833e5f2c42b03912b11412a25
DUMMY_DEVICE_SECRET=CVaZO2oLsdkltUlT7gFedcE0l_SrcoDThjYeOoILrW0
DUMMY_DEVICE_FIREBASE_API_KEY=AIzaSyBRaPh-PIQ-7PkDIG0JzzlBl39FI5MWLiI
DUMMY_DEVICE_FIREBASE_DATABASE_URL=https://senior-project-esgators-default-rtdb.firebaseio.com/
DUMMY_DEVICE_BACKEND_BASE_URL=http://localhost:3000
DUMMY_DEVICE_INTERVAL_MS=1000
DUMMY_DEVICE_PROFILE=full
DUMMY_DEVICE_LOG_RESPONSES=false
